body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* ------------------- */
    background-color: bisque;
}

#nav {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid green;
    background-color: green;
}

.nav {
    list-style-type: none;
    /* ------------------- */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav li {
    border: 1px solid black;
    border-radius: 10px;
    /* ------------------- */
    background-color: lime;
    color: grey;
    margin: 2vh;
    padding: 1vw;
}

.nav a {
    text-decoration: none;
}

#entrada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}

footer {
    margin-top: 7vw;
}